@font-face {
    font-family: Xirod;
    src: url("https://pixelz22.github.io/randomly-hosted-resources/csc561/prog5/Xirod.otf")
}

@font-face {
    font-family: Typewriter;
    src: url("https://pixelz22.github.io/randomly-hosted-resources/csc561/prog5/cmunbtl.ttf")
}

:root {
    font-family: Arial, sans-serif;
    color: white;

    --text-header-color: #00DD00;
    --text-default-color: #009900;
}

body {
    background-color: #040404;
}

h1 {
    font-family: Xirod;
    text-align: center;
    color: var(--text-header-color);
}

h2, h3 {
    color: var(--text-header-color);
    font-family: Typewriter;
    font-weight: bold;

    font-size: 1.5rem;

    margin-top: 0;
    margin-bottom: 0.5rem;
}

#instructions {
    color: var(--text-default-color);

    padding: 0.5rem 1rem;
    border: 2px solid var(--text-default-color);
}

.text-default {
    color: var(--text-default-color);
    font-family: Typewriter;
}

.text-bright {
    color: var(--text-header-color);
    font-family: Typewriter;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-medium {
    font-size: 1.25rem;
}

.text-large {
    font-size: 2rem;
}

.text-bold {
    font-weight: bold;
}

.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.width-fit {
    width: fit-content;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col.flex-auto-margin > :not(:first-child) {
    margin-top: 1rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.place-items-start {
    place-items: start;
}

.place-items-center {
    place-items: center;
}

.place-items-end {
    place-items: end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}



p {
    margin: 0.5rem 0;
}

.anchor {
    position: relative;
    width: 512px;
    height: 512px;

    border: 3px solid gray;
}

#myWebGLCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#notifContainer {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 1rem;

    display: flex;
    flex-flow: column nowrap;
}

#notifContainer > *:not(:first-child) {
    margin-top: 0.25rem;
}

#scoreContainer {
    position: absolute;
    top: 0;
    right: 0;

    width: 10rem;

    margin: 0.5rem;
    padding: 0.5rem;

    background: rgba(0, 0, 0, 0.2);
}

.notif {
    padding: 0.2rem 0.3rem;

    color: white;

    background-color: rgba(40, 40, 40, 0.4);
}

#loadingBarOuter {
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 15rem;

    border: 1px solid var(--text-default-color);
    padding: 0.4rem;
}

#loadingBarInner {
    height: 100%;
    width: 0;
    background-color: var(--text-header-color);
}

#respawnText {
    position: absolute;

    top: 0;
    left: 0;
}

#gameOverContainer {
    position: absolute;

    top: 0;
    left: 0;
}

#lives > *:not(:first-child) {
    margin-left: 0.5rem;
}

.fancy-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    color: var(--text-default-color);
    font-family: Typewriter;
    font-size: 1.5rem;
}

.fancy-button:hover {
    cursor: pointer;

    color: var(--text-header-color);
    text-decoration: underline;
}

.fancy-button:active {
    cursor: pointer;

    filter: brightness(0.5);

    transition: filter 0.1s;
}

.spacebar {
    width: 3.5rem;
    height: 0.5rem;

    background-color: transparent;
    border: 2px solid var(--text-default-color);

    margin-bottom: 0.5rem;
}

.fade-container {
    background-repeat: no-repeat;

    background-image:
        /* 2) Gradient              */ linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        /* 2) Gradient              */ linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        /* 3) Color(using gradient) */ linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

    background-position:
        /* 1) Image position        */ center center,
        /* 1) Image position        */ center center,
        /* 2) Gradient position     */ center center;

    background-size:
        /* 2) Gradient size         */ 80% 80%,
        /* 2) Gradient size         */ 90% 90%,
        /* 3) Color size            */ 100% 100%;

    display: flex;
    flex-direction: column;
    place-content: center;
}